@font-face {
  font-family: 'calamity';
  src: url('fonts/calamity-bold-webfont.woff2') format('woff2'),
       url('fonts/calamity-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'calamity';
  src: url('fonts/calamity-regular-webfont.woff2') format('woff2'),
       url('fonts/calamity-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.section {
  font-family: 'calamity';
  padding: 1.75%;
  font-weight: bold;
  line-height: 1.5;

  display: flex;
}

.section--upper {
  height: 38.3vh;

  background-color: #FCFAE1;
  
  color: black;
}

.section--lower{
  height: 61.7vh;

  background-color: black;
  
  color: #FCFAE1;
}

.section__title {
  align-self: flex-end;
} 